/** IPHONE 12/13 PRO MAX*/
/*! IPHONE 12/13 PRO MAX*/
/*? IPHONE 12/13 PRO MAX*/
/*TODO IPHONE 12/13 PRO MAX*/


:root{

    --font-noto-serif: font-family: 'Noto Serif';
    --font-futura-s: font-family: 'Futura PT', sans-serif;
    --color-black: #000000; 
    --color-white: #ffffff; 

}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

.logo-size{
    max-width: 2rem;
}


h6{
    font-family: var(--font-noto-serif);
    font-size: 1.3rem;
}

.landing{margin-top: 2rem;}
.landing, img{
    max-width: fit-content;
}
.img1{
    width: 14rem;
}

.tag{
    text-align: center;
}

a, ul, li{
    font-family: var(--font-futura-s);
    font-weight: lighter;
    color: var(--color-black);
    text-decoration: none;
}

.spacing{

    margin: 1rem 2rem 0 2rem;
}

.drop-edit{
    border: none;
}
li{
    display: flex;
    flex-direction: column;
}
.dropdown-menu{
    display: none;
}
ul{
    flex-direction: column;
}
.dropdown-item{
    margin-left: 2rem;
    background: transparent;
}